
.wrapMain{
background-color: black;
    height: 700px;
}
img{
    width: 200px;
    height: 100%;
}
 h2 {
     margin: 20px;
     text-align: center;
     font-family: 'Oleo Script Swash Caps', cursive;
 }
 
 h4{
    font-family: 'Oleo Script Swash Caps', cursive;   
 }
